* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    text-transform: capitalize;
    color: black;
}


/* setting position */

body>img {
    z-index: -1;
    position: absolute;
    opacity: 1;
    height: 100%;
    top: 0;
    width: 100%;
    overflow: hidden;
}

#weather {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
}

#weather span {
    font-size: 1.3rem;
    padding: 1px;
}

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9rem;
}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16rem;
    font-size: 1.3rem;
}

#todo-form input,
#todo-form button {
    font-size: 1.3rem;
    padding: 3px;
}

#Quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30rem;
    font-size: 1rem;
    color: white;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.fstyle {
    font-family: 'Courier New', Courier, monospace;
}