* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px red; */
}

body {
    text-transform: capitalize;
    color: white;
}


/* setting position */

body>img {
    z-index: -1;
    position: absolute;
    opacity: 1;
    height: 100%;
    top: 0;
    width: 100%;
    overflow: hidden;
}

#weather {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 20px;
}

#weather span {
    font-size: 1.3rem;
    padding: 1px;
}

#todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 9rem;
    font-size: medium;
}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 11rem;
}

#todo-list>li>button {
    border: none;
    margin-left: 1rem;
}

#todo-form input,
#todo-form button {
    font-size: 1rem;
    padding: 5px;
}

#form-input,
.greet {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7rem;
}

.greet {
    display: flex;
    font-size: 4rem;
    letter-spacing: 0.5px;
    color: white;
}

#Quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30rem;
    font-size: 1rem;
    color: white;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5rem;
    font-size: xx-large;
}

li {
    font-size: 1.2rem;
    list-style: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1px 7px;
    margin-top: 2px;
    background: rgb(255, 255, 255);
    position: relative;
}

.hidden {
    display: none;
}

.fstyle {
    font-family: 'Courier New', Courier, monospace;
}